.outerBuffer{
  width:100%;
  height:25%;
  position:relative;
}

.textOuter {
  width:100%;
  height:20%;
  position:relative;
}

.todoOuter {
  width:100%;
  height:30%;
  position:relative;
}

.container {
  width:33%;
  height:33%;
  position: relative;
  float: left;
}

.textBox {
  text-align: center;
}

#todoList {
  height:auto;
  text-align: center;
  border-radius: 15px;
  border: 5px solid black;
  box-shadow: 3px 3px black;
  padding-bottom: 10px;
}

#todoTitle{
  margin : 10px;
}

.todos{
  margin: 5px;
}

#inputTodo{
  right: 50%;
  display: none;
}

#submitButton{
  display: none;
}

#checkBox{
  margin: 5px;
}

span{
  margin: 5px;
}

html{
  background-image: url('https://my.alfred.edu/zoom/_images/foster-lake.jpg');
  background-size: cover;
}